extends ../layouts/default

block content
	.container
		.panel.panel-default
			.panel-heading What is BCAT?
			.panel-body
				| The Broadband Community Assessment Tool (BCAT) is a comprehensive online planning tool designed to 
				| inspire and support local broadband planning efforts. The application supports a Team Leader who can 
				| enroll others in a planning team.  Team members may include elected officials, Internet service 
				| providers, local civic or business leaders, IT managers, or interested citizens. 
				| While there are about a dozen different BCAT modules, modules can be assigned based on interest or 
				| role.  For an example, all team members may provide input on “community priorities” but only city or 
				| county officials might comment on “use of public assets.” After completing the assessment, Team 
				| Leads get a full report of the team’s input with recommendations and resources for possible actions.
		.panel.panel-default
			.panel-heading Why Conduct an Assessment?
			.panel-body
				| The BCAT application will help your teams engage more broadly across your community; consolidate perspectives; evaluate options; plan and take action. The assessment tool and recommended actions draw from experience and best practices from broadband and community leaders around the country. 
				<br>
				<br> Conduct the assessment to:
				<ul>
				<li> Develop and document a shared understanding of the broadband landscape
				<li> Mobilize community action to improve connectivity
				<li> Aggregate demand and strengthen partnership discussions
				<li> Attract investment
				<li> Identify opportunities to streamline processes 
				<li> Leverage public assets in support of the public good
				<li> Document a broadband plan, vision, and progress
		.panel.panel-default
			.panel-heading About the Team
			.panel-body The Broadband Community Assessment Tool (BCAT) was developed and managed by a small group of dedicated volunteers who are committed to universal broadband access and community engagement.  The group includes:
			<ul>
			<li> Alia Willingham – Product Manager
			<li> Samantha Gallagher – Lead Developer
			<li> Jessi Shank – Software Developer, Ten-Forward
			<li> Marianne Feng  - Software Developer, Ten-Forward
			<li> Will Saunders – State Program Sponsor
			<li> Karen Archer Perry – Federal Program Sponsor
		.panel.panel-default
			.panel-heading Contact Us
			.panel-body Questions? Comments? Looking to start your team today? <a href="mailto:act.product.feedback@gmail.com">Email Us</a> 
