extends ../layouts/default
include ../mixins/question-types

block content
    .container
        if modules && Object.keys(modules).length > 0
            .row 
                .col-sm-3
                    if modules && Object.keys(modules).length > 0
                        #moduleLinks
                            ul.nav.nav-stacked(data-spy="affix")
                                each mod, index in modules
                                    if mod.id == active
                                        li.nav-item
                                            a.nav-link.active(href="/assessment/"+mod.id) #{mod.name}
                                    else
                                        li.nav-item
                                            a.nav-link(href="/assessment/"+mod.id) #{mod.name}
                .col-sm-9#assessment
                    h3 #{modules[active].name}

                    .progress
                        .progress-bar(role="progressbar", aria-volumemax="100", aria-valuemin="0", aria-valuenow="50", style="width:50%") % Complete

                    if modules[active].questions
                        +question-form(modules[active].questions, modules[active].id, modules[active].answers)

        else
            .container
                h4 You Haven't Been Assigned Any Modules 
