extends ../layouts/default

block content
	script(type='text/javascript').
		jQuery(document).ready(function () {
			$('#moduleTable').DataTable({
				'paging': false,
				'info': false,
				"order": [[1, "asc"]],
				'filter': false
			});
		})
	.container

		.panel.panel-default
			.panel-heading Announcements
			.panel-body
				| Watch this space
			.panel-footer.text-right
				a() View prior announcements

		.panel.panel-default
			.panel-heading Suggested Resources
			.panel-body
				| Review your county's reported access on 
				a(href='https://i3cex.internet-is-infrastructure.org/sessions/new') this  
				| tool for the module Local Insights on Data
			.panel-footer.text-right
				a() View all Resource Guides
		
		.panel.panel-default
			.panel-heading Your Assessment
			.panel-body
				if !assignedModules
					h4 No assigned modules
				else
					.progress
						.progress-bar(role="progressbar", aria-volumemax="100", aria-valuemin="0", aria-valuenow="50", style="width:50%") % Complete
					table.table(id="moduleTable")
						thead
							tr
								th Module Name
								th Status
								th Questions
								th Last Activity
								th Actions
						tbody
							each progress in assignedModules
								tr
									td 
										a(href='/assessment/' + progress.moduleId.id) #{progress.moduleId.name}
									td #{progress._.progress.format()}
									td #{progress._.percentage.format('0,')}% Answered
									td #{progress._.updatedAt.format('MM/DD/YYYY')}
									td
										a(href='/assessment/' + progress.moduleId.id) 
											span.glyphicon.glyphicon-play
										a(href='')
											span.glyphicon.glyphicon-save