extends ../layouts/default

block content
	div#landing
		div#landing-top
			.container: .jumbotron
				h2 Gathering community knowledge to support local broadband efforts
				p A comprehensive assessment to better understand your community's 
					| strengths and weaknesses, and turn that information into actions. 

		.container-fluid#landing-mid
			.container
				div.row.show-grid
					div.col-md-6 
						h3 What is it?
						p The BCAT is an online assessment tool designed to support communities
							| in their local broadband planning efforts. It was developed by the
							| National Telecommunication and Information Administration and their
							| BroadbandUSA initiative, with input from local start broadband leaders,
							| advocates and industry members.
						button.btn.btn-primary.btn-lg(data-target='#startModal', data-toggle='modal') Get Started
					div.col-md-6#signin
						h3 Sign in
						form
							div.form-group
								label(for='userLogin') Username or email address
								input(type='email', class='form-control', id='userLogin')
							div.form-group
								label(for='userPwd') Password
								input(type='password', class='form-control', id='userPwd')
								p#showPassword
									a() Show password
							button.btn.btn-submit.btn-primary(type='submit') Sign in
							br
							a() Forgot login?

		.container-fluid#about
			h3 Features of the BCAT
			.container
				div.row.show-grid
					div.col-md-6
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
							| incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
							| nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							| Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
							| eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
							| culpa qui officia deserunt mollit anim id est laborum.
					div.col-md-6
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
							| incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
							| nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							| Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
							| eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
							| culpa qui officia deserunt mollit anim id est laborum.


	#startModal.modal
		.modal-dialog
			.modal-content
				.modal-header
					button.btn.close(type='button', data-dismiss='modal') &times;
					h3.modal-title Let's get started!
				.modal-body
					div
						button.btn.btn-primary(type='button', data-dismiss='modal') Joining an existing team?
						p or
						button.btn.btn-primary(type='button', data-dismiss='modal') Looking to organize a team?
					button.btn.btn-secondary.btn-sm(type='button', data-dismiss='modal') Not sure?