extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/images/BCATlogo.svg', width='160')
		h1 Broadband Connectivity Assessment Tool
		h2 Gathering community knowledge to support local broadband efforts.
		h3 Click the Survey tab to get started.
