extends ../layouts/default

block content
    .container-fluid(style={background: 'white'})
        h3 Join an existing team
        div.jumbotron
            form(method="GET", role="form", action="/signup")
                div.col-md-6
                    div.form-group
                        label State
                        select.form-control#state-selection
                            option -- Select a State --
                            option Washington
                            option Oregon

                div.col-md-6#team-select
                    div.form-group
                        label Team
                        select.form-control(size=5, id="team", name="team")
                            option -- Select a Team --
                            if teams.length
                                for team in teams
                                    option(state=team.state) #{team.name}
                        span.help-block #[a() I don't see my team]


                a.btn.btn-primary(href="/") < Back
                button.btn.btn-primary.pull-right.form-group(type="submit") Next >
                script.
                    jQuery(document).ready(function () {
                        $('#state-selection').change(function (e) {
                            var selectedState = $('#state-selection').val();
                            $('#team > option').each(function () {
                                var teamState = $(this).attr('state');
                                // if a state has been selected and the team option doesn't have this state, hide it
                                if (selectedState !== "-- Select a State --" && teamState && teamState !== selectedState) {
                                    $( this ).css( "display", "none" );
                                } else {
                                    $( this ).css( "display", "" );
                                }
                            });
                        });
                    });