extends ../layouts/default

block content
	.container
		.panel.panel-default
			.panel-heading Data Sources and Resources for Information
			.panel-body
				| Your journey will require collecting and reviewing data about your community. Thankfully, there are many tools
				| available with information collected through censuses and regulatory requirements. Learn how to use those 
				| resources with our guides and links. Additional guides will be added over time.
				<br><br>
				| Guides:
				<ul>
				<li> <a href="#I3">I3 Connectivity Explorer</a>
				<li> <a href="#FCC477">FCC 477 National broadband data from the FCC</a>
				<li> <a href="#SpeedTest">Speed Tests</a>
				<li> <a href="#Funding">Funding</a>
				<li> <a href="#Adoption">Adoption</a>
				
		.panel.panel-default
			.panel-heading <a name="I3" href='https://i3cex.internet-is-infrastructure.org/'> Finding local broadband data - I3 Connectivity Explorer</a>
			.panel-body
				| The I3 Connectivity Explorer is critical to evaluating the options available in your community now. This resource will be used 
				| in conjunction with the Local Insights on Provider Data module. I3 collects all the public data available and creates a single place for you to
				| visualize and understand the insights. 
				| <br> <br> 
				| I3 Connectivity Explorer is also a great way to continue to stay in touch
				| with the resources available to your community. Data is updated regularly. You can see the data sources in use and when they were last updated
				| <a href='https://i3cex.internet-is-infrastructure.org/help/sources' rel='noopener noreferrer' target='_blank'>here 
				span.glyphicon.glyphicon-new-window
				| </a>.
				| <br> <br> 
				| See the full directions <a href=''>here 
				span.glyphicon.glyphicon-new-window
				| </a> or follow the basic steps below.
				<ol>
				<li> Create an account at <a href='https://i3cex.internet-is-infrastructure.org/sessions/new' rel='noopener noreferrer' target='_blank'>https://i3cex.internet-is-infrastructure.org/sessions/new. 
				span.glyphicon.glyphicon-new-window
				| </a> You will need to confirm your email.
				<li> Log in and create your first notebook. This notebook will contain the information for completing our modules. If you have multiple braodband assessments for different regions in progress, please create a notebook for each.
				<li> Select your state and search for the region being reviewed. If their are multiple localities in this assessment, add all of them.
				<li> Activate your notebook.
				<li> Your home page will now show the information for this notebook. Begin the Local Insights on Provider Data module. 
				| 
		.panel.panel-default
			.panel-heading <a name="FCC477">FCC 477 Wireline and Fixed Wireless Deployment Maps and Reports</a>
			.panel-body
				| The official national data on which companies offer broadband services comes from the Federal Communications Commission (FCC)
				| They collect that data from broadband providers with a typical government form, usually referred to by its form number - 477.
				| Mobile technologies like 4G LTE work very differently from technologies designed to serve a fixed location like a home or an office,
				| so the FCC data is separated into "mobile" and "fixed" datasets, published by separate divisions within the agency.
				| <br><br>
				| Here are the official datasets:
				| <a href='https://opendata.fcc.gov/browse?q=fixed%20broadband%20deployment&sortBy=last_modified&utf8=%E2%9C%93' rel='noopener noreferrer' target='_blank'>Fixed service
				span.glyphicon.glyphicon-new-window
				| </a>
				| <a href='https://www.fcc.gov/mobile-deployment-form-477-data rel='noopener noreferrer' target='_blank'>Mobile service
				span.glyphicon.glyphicon-new-window
				| </a>
		.panel.panel-default
			.panel-heading <a name="SpeedTest">Speed Tests</a>
			.panel-body
				| Speed tests are widely available, however, we reccommend M-Lab. M-Lab data is publicly available. By directing
				| your community to test with M-Lab, resources will be able to collate information for your decision making. 
				| <br><br>
				| Direct community members to take the test here: 
				| <a href='https://speed.measurementlab.net/#/'>https://speed.measurementlab.net/#/</a> <br>
				| Use their visualizations for your analysis here: 
				| <a href='https://viz.measurementlab.net/'>https://viz.measurementlab.net/</a> 
		.panel.panel-default
			.panel-heading <a name="Funding">Grants Loans and Funding</a>
			.panel-body
				| Grants and loans are often available from federal, state and even local government agencies to support broadband expansion.
				| They all come with ther own rules, requirements and schedules, but in most cases these programs will ask for the same kinds of information that the ACT tool was designed to collect.
				| The US Department of Commerce's "Broadband USA" website includes a good list of most of the federal programs:
				| <a href='https://broadbandusa.ntia.doc.gov/new-fund-search' rel='noopener noreferrer' target='_blank'>Funding Guide
				span.glyphicon.glyphicon-new-window </a>
				| <br><br>
				| State funding programs are usually published on the state's broadband website.
				| Here's a directory you can use to find the broadband program website for your state.
				| <a href='https://broadbandusa.ntia.doc.gov/ntia-resources/state-broadband-leaders-network-sbln' rel='noopener noreferrer' target='_blank'>State Broadband Leaders Network </a>
		.panel.panel-default
			.panel-heading <a name="Adoption">Broadband Adoption and Use data</a>
			.panel-body
				| Information about how many actual people say they are using or subscribing to broadband services is captured by the American Community Survey.
				| Specifically, the broadband part of this resource is called the Digital Nation dataset and maintaned by the National Telecommunications and Information Administration (NTIA). Here's the link:
				| <a href='https://www.ntia.doc.gov/page/digital-nation-research-center' rel='noopener noreferrer' target='_blank'> Digital Nation Research Center 
				span.glyphicon.glyphicon-new-window
				