extends ../layouts/default

block content
	.container
		.panel.panel-default
			.panel-heading Data Sources and Resources for Information
			.panel-body
				| Your journey will require collecting and reviewing data about your community. Thankfully, there are many tools
				| available with information collected through censuses and regulatory requirements. Learn how to use those 
				| resources with our guides and links. Additional guides will be added over time.
				<br><br>
				| Guides:
				<ul>
				<li> <a href="#I3">I3 Connectivity Explorer</a>
				<li> <a href="#FCC477">FCC 477 Wireline and Fixed Wireless Deployment Maps and Reports</a>
				<li> <a href="#SpeedTest">Speed Tests</a>
				
		.panel.panel-default
			.panel-heading <a name="I3" href='https://i3cex.internet-is-infrastructure.org/'> I3 Connectivity Explorer</a>
			.panel-body
				| The I3 Connectivity Explorer is critical to evaluating the options available in your community now. This resource will be used 
				| in conjunction with the Local Insights on Provider Data module. I3 collects all the public data available and creates a single place for you to
				| visualize and understand the insights. 
				| <br> <br> 
				| I3 Connectivity Explorer is also a great way to continue to stay in touch
				| with the resources available to your community. Data is updated regularly. You can see the data sources in use and when they were last updated
				| <a href='https://i3cex.internet-is-infrastructure.org/help/sources' rel='noopener noreferrer' target='_blank'>here 
				span.glyphicon.glyphicon-new-window
				| </a>.
				| <br> <br> 
				| See the full directions <a href=''>here 
				span.glyphicon.glyphicon-new-window
				| </a> or follow the basic steps below.
				<ol>
				<li> Create an account at <a href='https://i3cex.internet-is-infrastructure.org/sessions/new' rel='noopener noreferrer' target='_blank'>https://i3cex.internet-is-infrastructure.org/sessions/new. 
				span.glyphicon.glyphicon-new-window
				| </a> You will need to confirm your email.
				<li> Log in and create your first notebook. This notebook will contain the information for completing our modules. If you have multiple braodband assessments for different regions in progress, please create a notebook for each.
				<li> Select your state and search for the region being reviewed. If their are multiple localities in this assessment, add all of them.
				<li> Activate your notebook.
				<li> Your home page will now show the information for this notebook. Begin the Local Insights on Provider Data module. 
				| 
		.panel.panel-default
			.panel-heading <a name="FCC477">FCC 477 Wireline and Fixed Wireless Deployment Maps and Reports</a>
			.panel-body
				| Work in Progress
		.panel.panel-default
			.panel-heading <a name="SpeedTest">Speed Tests</a>
			.panel-body
				| Speed tests are widely available, however, we reccommend M-Lab. M-Lab data is publicly available. By directing
				| your community to test with M-Lab, resources will be able to collate information for your decision making. 
				| <br><br>
				| Direct community members to take the test here: 
				| <a href='https://speed.measurementlab.net/#/'>https://speed.measurementlab.net/#/</a> <br>
				| Use their visualizations for your analysis here: 
				| <a href='https://viz.measurementlab.net/'>https://viz.measurementlab.net/</a> 