extends ../layouts/default

block content
	.container
		.panel.panel-default
			.panel-heading Data Sources and Resources for Information
			.panel-body
				| Your journey will require collecting and reviewing data about your community. Thankfully, there are many tools
				| available with information collected through censuses and regulatory requirements. Learn how to use those 
				| resources with our guides and links. Additional guides will be added over time.
				<br><br>
				| Guides:
				<ul>
				<li> <a href="#I3">I3 Connectivity Explorer</a>
				<li> <a href="#FCC477">FCC 477 Wireline and Fixed Wireless Deployment Maps and Reports</a>
				<li> <a href="#SpeedTest">Speed Tests</a>
				
		.panel.panel-default
			.panel-heading <a name="I3" href='https://i3cex.internet-is-infrastructure.org/sessions/new'> I3 Connectivity Explorer</a>
			.panel-body
				| Work in Progress
		.panel.panel-default
			.panel-heading <a name="FCC477">FCC 477 Wireline and Fixed Wireless Deployment Maps and Reports</a>
			.panel-body
				| Work in Progress
		.panel.panel-default
			.panel-heading <a name="SpeedTest">Speed Tests</a>
			.panel-body
				| Work in Progress