extends ../layouts/default

block content
    .container: .jumbotron
        h1 Welcome to Keystone!
        #container.col
        p.
            Hope you're enjoying learning about KeystoneJS. We're close to some very dynamic cool things.