extends ../layouts/default

block content
	.container: .jumbotron
		if team
			h2 #{team.name} Team Folder
		else
			h2 Team Folder

		if team
			if team.leader.toString() === user._id.toString()
				h4 Your Team
				if members.length
					each member in members
						row
							p.col-sm-4 #{member.name.first} #{member.name.last}
							p.col-sm-4 Role
