#header
    margin-top 30px

.navbar-right
    margin-right 0px

.answers
    margin-left 15px

.scale
    display inline-block


.column-labels
    font-weight bold

.modal-content
    text-align center  

.modal-content .btn
    margin-bottom 10px

.navbar-brand img
    height 50px

.navbar-brand
    padding-left 5px
    padding-top 0px
    padding-bottom 0px
    padding-right 5px

.navbar img, .navbar-brand img
    max-height 70px 
    max-width 70px
    display inline-block
    margin-right 10px

.navbar h2
    display inline-block
    vertical-align middle
    color white

#landing-top
    background-image url('../images/paul-gilmore-184255-unsplash.jpg')
    background-size 100%
    background-repeat no-repeat

#landing-mid
    background-color white
    padding 20px

#assessment-mid
    background-color white

#assessment-body
    background-color $light-blue
    padding-bottom 30px
    margin-top 10px

#assessment-body h3, #assessment-body h2
    font-family sans-serif

#assessment-label
    margin-top 10px

#assessment-label h5
    font-family sans-serif
    font-weight bold

#landing-mid p 
    line-height 2

.navbar-inverse, .navbar-default
    margin-bottom 0

#landing .jumbotron
    background-color $mid-blue
    color white
    width 70%
    margin-top 5%
    margin-bottom 5%
    padding 30px

#landing h2, #landing-header h2
    font-family $font-family-serif

#about
    background-color $light-blue

#about p
    line-height 2

#signin
    background-color $dark-blue
    color white

#signin a
    color $light-blue
    text-decoration underline

.help-block a
    color $mid-blue
    text-decoration underline

#showPassword
    text-align right

#footer
    border-top 1px solid gray-lighter
    padding-top 30px
    padding-bottom 10px
    color gray-light

#moduleLinks
    padding-top 10px

.gallery-image img
    display block
    max-width 100%
    height auto

.thumbnail
    color white
    background-color white

.landingPageList
    padding-bottom 1em

.landingPageList li 
    font-size 15px

.modalFormColumnRight
    padding-left 7px

.modalFormColumnLeft
    padding-right 7px

.modalFormRow
    margin-bottom 0px

.teamButtons
    margin-top 20px

.panel
    margin-top 25px

.glyphicon
    margin-right 10px

.leftLink
    margin-right 40px
