#header
    margin-top 30px

.navbar-right
    margin-right 0px

.answers
    margin-left 15px

.scale
    display inline-block

.column-labels
    font-weight bold

.modal-content
    text-align center  

.modal-content .btn
    margin-bottom 10px

.navbar-brand img
    height 50px

.navbar-brand
    padding-left 5px
    padding-top 0px
    padding-bottom 0px
    padding-right 5px

.navbar img, .navbar-brand img
    max-height 70px 
    max-width 70px
    display inline-block
    margin-right 10px

.navbar h2
    display inline-block
    vertical-align middle
    color white

#landing-top
    background-image url('../images/paul-gilmore-184255-unsplash.jpg')
    background-size cover
    background-repeat no-repeat

#assessment-label
    margin-top 10px

#assessment-label h5
    font-family sans-serif
    font-weight bold

.navbar-inverse, .navbar-default
    margin-bottom 0

#landing .jumbotron
    background-color $gray
    color black
    width 65%
    margin-top 5%
    margin-bottom 5%
    padding 30px

    @media screen and (max-width: 600px)
        width 100%

#landing-mid h3 
    padding-top 10px
    padding-bottom 10px

.help-block a
    color $mid-blue
    text-decoration underline

#footer
    border-top 1px solid gray-lighter
    padding-top 30px
    padding-bottom 10px
    color gray-light

#moduleLinks
    padding-top 65px
    margin-left -35px

#moduleLinks .nav-link
    background-color white

.gallery-image img
    display block
    max-width 100%
    height auto

.thumbnail
    color white
    background-color white

.modalFormColumnRight
    padding-left 7px

.modalFormColumnLeft
    padding-right 7px

.modalFormRow
    margin-bottom 0px

.teamButtons
    margin-top 20px

.panel
    margin-top 25px

.glyphicon
    margin-right 10px

.leftLink
    margin-right 15px

.scaleLeft
    margin-right 5px

.scaleRight
    margin-left 1em

.leftButton
    margin-right 15px

#introTabsContent
    margin-top 20px
    margin-bottom 20px

.nav-link 
    background-color $gray

.btn-primary
    background-color $light-mid-blue

.btn-default
    background-color $gray

.form-control
    color black

body 
    padding-top 50px

#assessment-page h3
    padding-top 10px
    padding-bottom 10px

.custom-select
    width 100%
    margin-top 20px
    margin-bottom 20px
    -webkit-appearance none
    -moz-appearance none
    border 0
    font-size 1.5em

.custom-select select
    display none
