#header
    margin-top 30px

.container-fluid
    background-color #e6f3f8 

body
    background-color #4071b8    

nav.navbar-nav.navbar-default li a
    color #e6f3f8     

.active
    color purple       

.jumbotron
    background-color #e6f3f8 

a
    color: black                

#footer
    margin-top 30px
    border-top 1px solid gray-lighter
    padding-top 30px
    color gray-light


.gallery-image img
    display block
    max-width 100%
    height auto
