// Override Bootstrap variables in this file, e.g.

$font-size-base = 14px

$light-blue = #e6f3f8
$light-mid-blue = #0070b9
$mid-blue = #4071b8
$dark-blue = #233251

$navbar-default-bg = $light-blue 
$jumbotron-bg = $light-blue

$body-bg = $mid-blue

$modal-header-border-color = transparent
$modal-content-bg = $light-blue
$modal-content-border-color = $mid-blue
$modal-backdrop-bg = #fff

$font-family-serif = "Merriweather", "Georgia", serif
$font-family-sans-serif = "Source Sans Pro", "Helvetica", sans-serif
$headings-font-family = $font-family-serif

$navbar-inverse-color = #fff
$navbar-inverse-bg = $dark-blue

$navbar-default-link-color = #fff
$navbar-default-color = #fff
$navbar-default-link-active-color = #fff
$navbar-default-bg = $light-mid-blue