// Override Bootstrap variables in this file, e.g.

$font-size-base = 14px

$navbar-default-bg = #e6f3f8 
$jumbotron-bg = #e6f3f8 

$body-bg = #4071b8

$modal-header-border-color = transparent
$modal-content-bg = #e6f3f8 
$modal-content-border-color = #4071b8
$modal-backdrop-bg = #fff

$font-family-serif = "Merriweather", "Georgia", serif
$font-family-sans-serif = "Source Sans Pro", "Helvetica", sans-serif
$headings-font-family = $font-family-serif

$navbar-inverse-color = #fff
$navbar-inverse-bg = #233251